extends layout

block headcontent
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/node_modules/core-js/client/shim.min.js')
    script(src='/node_modules/zone.js/dist/zone.js')
    script(src='/node_modules/reflect-metadata/Reflect.js')
    script(src='/node_modules/systemjs/dist/system.src.js')
    script(src='/node_modules/typescript/lib/typescript.js')
    script(src='/node_modules/rxjs/bundles/Rx.js')
    script(src='javascripts/systemjsconfigweb.js')

block content
    app-root
